{% extends "base_navbar.html" %}

{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">Add entry</div>
    <div class="panel-body">
        <form action="/record/insert-entry" method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row form-group">
                    <div class='col-sm-1 control-label'>
                        Project
                    </div>
                    <div class='col-sm-1'>
                        <select name="project" required>
                            {% for project in projects %}
                            <option value="{{ project.0 }}">{{ project.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class='col-sm-1 control-label'>
                        From
                    </div>
                    <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker_from_date'>
                                <input type='text' class="form-control" name="from_date" value="{{ from_date }}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker_from_date').datetimepicker({
                                format: "YYYY-MM-DD",
                                showTodayButton: true,
                            });
                        });
                    </script>
                    <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker_from_time'>
                                <input type='text' class="form-control" name="from_time" value="{{ from_time }}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker_from_time').datetimepicker({
                                format: "HH:mm",
                            });
                        });
                    </script>
                </div>
                <div class="row form-group">
                    <div class='col-sm-1 control-label'>
                        To
                    </div>
                    <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker_to_date'>
                                <input type='text' class="form-control" name="to_date" value="{{ to_date }}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker_to_date').datetimepicker({
                                format: "YYYY-MM-DD",
                                showTodayButton: true,
                            });
                        });
                    </script>
                    <div class='col-sm-2'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker_to_time'>
                                <input type='text' class="form-control" name="to_time" value="{{ to_time }}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker_to_time').datetimepicker({
                                format: "HH:mm",
                            });
                        });
                    </script>
                </div>
                <div class="row form-group">
                    <div class='control-label col-sm-1'>
                        Tags
                    </div>
                    <div class='col-sm-3'>
                        <input class="form-control" type="text" name="tags"/>
                    </div>
                </div>
                <div class="row form-group">
                    <div class='col-sm-1'>
                        <input type="submit" value="Add"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
