{% extends "base_navbar.html" %}
{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">Record</div>
    <div class="panel-body">
        <div class="btn-group-vertical btn-group-vertical-separated" role="group" aria-label="...">
            <a type="button" class="btn btn-default applist-button" href="/record/add-entry">Add entry</a>
            <a type="button" class="btn btn-default applist-button" href="/record/overview">Overview</a>
        </div>
    </div>
</div>

{% endblock %}

