/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}


.btn-group-vertical-separated {
  border-radius: 4px;
}
.btn-group-vertical-separated > .btn:not(:first-child):not(:last-child) {
  border-radius: 4px;
}
.btn-group-vertical-separated > .btn:first-child:not(:last-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical-separated > .btn:last-child:not(:first-child) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical-separated > .btn-group:not(:first-child):not(:last-child) > .btn {
  border-radius: 4px;
}
.btn-group-vertical-separated > .btn-group:first-child:not(:last-child) > .btn:last-child,
.btn-group-vertical-separated > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group-vertical-separated > .btn-group:last-child:not(:first-child) > .btn:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.btn-group-vertical-separated > .btn + .btn,
.btn-group-vertical-separated > .btn + .btn-group,
.btn-group-vertical-separated > .btn-group + .btn,
.btn-group-vertical-separated > .btn-group + .btn-group {
  margin-top: 4px;
  margin-left: 0;
}
