<html>
<head>
    <title>Tick-tock | {{ title }}</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/static/css/tick_tock.css" type="text/css"/>
    <script src="/static/js/jquery.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
</body>
</html>

