{% extends "base.html" %}
{% block content %}
{% block top %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Tick-tock</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Record <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/record/add-entry">Add entry</a></li>
            <li><a href="/record/overview">Overview</a></li>
          </ul>
        </li>
      </ul>

  </div>
</nav>
{% endblock %}

<div class="container">
{% block main %}
{% endblock %}
</div>

{% endblock %}

