{% extends "base_navbar.html" %}
{% block main %}

<div class="panel panel-default">
    <div class="panel-heading">Choose</div>
    <div class="panel-body">
        <div class="btn-group-vertical btn-group-vertical-separated" role="group" aria-label="...">
            <a type="button" class="btn btn-default applist-button" href="/record">Record</a>
            <a type="button" class="btn btn-default applist-button" href="/invoice">Invoice</a>
        </div>
    </div>
</div>

{% endblock %}

